Pendientes.txt

.venv/

Aprendizajes.txt

#base_de_datos_inteligente/ #Lo quito para poder desplegarlo pero si esto fuera para una empresa deberia estar minimo cifrado antes d eir a produccion por que se hacen publicos la info de los archivos de la empresa 

.env

__pycache__/

.agents/

.agents

.agents/skills/developing-with-streamlit/


unanswered_log.csv

frontend/files/unanswered_log.csv

README1.md




